html {
	height: 100%
}

body {
	margin: 0;
	padding: 0;
    background: #666666 url(#{resource[ '/images/bodybg.png' ]}) repeat center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
	color: #ffffff;
	height: 100%;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

a:hover {
	color: #8e9bd4;
}

input[type=text] {
	background-color: #474747;
    background-image: url(#{resource[ '/images/textfield-bg.png' ]});
    background-position: top;
	background-repeat: repeat-x;
	border: #818181 1px solid;
	color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 15px;
	width: 300px;
	vertical-align: middle;
	outline: none;
}

input[type=password] {
	background-color: #474747;
    background-image: url(#{resource[ '/images/textfield-bg.png' ]});
    background-position: top;
	background-repeat: repeat-x;
	border: #818181 1px solid;
	color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 15px;
	width: 300px;
	vertical-align: middle;
	outline: none;
}

textarea {
	background-color: #474747;
    background-image: url(#{resource[ '/images/textfield-bg.png' ]});
    background-position: top;
	background-repeat: repeat-x;
	border: #818181 1px solid;
	color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 160px;
	width: 296px;
	overflow: visible;
	vertical-align: middle;
	outline: none;
}

select {
	background-color: #474747;
	background-position: top;
	background-repeat: repeat-x;
	border: #818181 1px solid;
	color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 19px;
	width: 302px;
	vertical-align: middle;
}

.error {
	border: #ff0000 1px solid !important;
}

#main_background {
	display: table;
	width: 998px;
	height: 100%;
	margin: 0 auto;
    background-image: url(#{resource[ '/images/main_bg.png' ]});
    background-repeat: repeat-y;
}

#main_placeholder {
	display: table;
	height: 100%;
	margin: 0 auto;
}

#content {
	display: table-row;
	height: 100%;
	background-repeat: no-repeat;
    background-image: url(#{resource[ '/images/content_decor_bottom.png' ]});
    background-position: right bottom;
}

#footer {
	display: block;
}

.decor_separator {
	width: 982px;
	height: 2px;
	margin: 0 auto;
    background-image: url(#{resource[ '/images/decor_separator.png' ]});
}

.decor_blue {
	width: 918px;
	height: 2px;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 2px;
    background-image: url(#{resource[ '/images/decor_blue.png' ]});
}

#header {
	width: 918px;
	height: 185px;
	margin: 0 auto;
	margin-top: 1px;
	margin-bottom: 2px;
    background-image: url(#{resource[ '/images/header_alpha.png' ]});
}

.menu {
	display: table;
	margin: 0 auto;
	width: 918px;
}

.menu .left {
	width: 12px;
	height: 27px;
	display: table-cell;
    background-image: url(#{resource[ '/images/menu-left.png' ]});
}

.menu .right {
	width: 12px;
	height: 27px;
	display: table-cell;
    background-image: url(#{resource[ '/images/menu-right.png' ]});
}

.menu .bg {
	height: 27px;
	width: 894px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    background-image: url(#{resource[ '/images/menu-bg.png' ]});
}

#usercontrol {
	width: 918px;
	padding-top: 3px;
	margin: 0 auto;
	margin-top: 2px;
	height: 22px;
	display: table;
    background-image: url(#{resource[ '/images/usercontrol_bg.png' ]});
    background-repeat: repeat-x;
}

#usercontrol .left {
	display: table-cell;
	padding-left: 5px;
}

#topBg {
	width: 918px;
	min-height: 304px;
	margin: 0 auto;
	background-repeat: no-repeat;
    background-image: url(#{resource[ '/images/content_decor_top.png' ]});
    background-position: left top;
}

#bg_placeholder {
	height: 100px;
	min-height: 100px;	
}

.large_window_top {
	margin: 0 auto;
	border: #818181 1px solid;
	width: 899px;
	height: 23px;
	background-repeat: no-repeat;
    background-image: url(#{resource[ '/images/large_window_top.png' ]});
    background-position: center;
	font-weight: bold;
}

.large_window_top .legend {
	margin-left: 15px;
	margin-top: 5px;
}

.large_window_bevel {
	margin: 0 auto;
	margin-top: 1px;
	border: #818181 1px solid;
	width: 899px;
	background-color: #616161;
}

.large_window_bevel .content {
	margin: 5px 5px 5px 5px;
}

.nyilas_hivatkozas {
    background-image: url(#{resource[ '/images/menu-decor-normal.png' ]});
    background-repeat: no-repeat;
	background-position: left center;
	padding-left: 27px;
	padding-right: 13px;
}

.nyilas_hivatkozas:hover {
    background-image: url(#{resource[ '/images/menu-decor-over.png' ]});
}

.table {
	display: table;
	width: 903px;
    border-spacing: 1px;
	margin: 0 auto;
	margin-top: 1px;
}

.table .row {
	display: table-row;
}

.table .row .cell {
	display: table-cell;
}

.table .row.even .caption {
    background-color: #616161;
}

.table .row.odd .caption {
    background-color: #545454;
}


.table .row .caption {
	display: table-cell;
	border: #818181 1px solid;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
}

.table .row .caption.c {
    text-align: center;
}

.table .row .cell .caption-left {
	width: 8px;
	height: 20px;
	display: table-cell;
    background: url(#{resource[ '/images/tree-captionbox-left.png' ]}) no-repeat;
}

.table .row .cell .caption-right {
	width: 8px;
	height: 20px;
	display: table-cell;
    background: url(#{resource[ '/images/tree-captionbox-right.png' ]}) no-repeat;
}

.table .row .cell .caption-bg {
	height: 20px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
    background: url(#{resource[ 'images/tree-captionbox-bg.png' ]}) repeat-x left center;
}

.table .row .torrent_image {
	border: #818181 1px solid;
	display: table-cell;
	width: 51px;
	height: 32px;
	vertical-align: top;
}

.table .row .torrent_separator {
	height: 1px;
	display: table-cell;
	border: none;
}

.table .row .torrent_details {
	display: table-cell;
	width: 848px;
	margin: 0px;
	padding: 0px;
}

.torrent_details .nev_container {
	padding-left: 2px;
	padding-right: 2px;
	width: 427px;
	color: #E7E7E7;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	/*overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding: 3px 3px 3px 5px;
	white-space: nowrap; */
}

.torrent_details .feltoltve_container {
	width: 99px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.torrent_details .meret_container {
	width: 99px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.torrent_details .dsl_container {
	width: 39px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.torrent_details .dsl_container a {
	font-weight: normal;
	text-decoration: none;
}

.torrent_details .feltolto_container {
	width: 99px !important;
	max-width: 99px !important;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	table-layout: fixed;
	text-align: center;
	
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.torrent_details_content {
	min-width: 901px;
	width: 901px;
	margin: 0 auto;
	margin-top: 1px;
	display: none;
}

.torrent_details_content .content {
	min-width: 889px;
	border: #818181 1px solid;
	background-color: #616161;
	display: table-cell;
	padding: 5px 5px 5px 5px;
}

.pager {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 5px;
}

/* login resz */
#loginBox {
	width: 600px;
	margin: 0 auto;
	display: table;
}

#loginBox .row {
	display: table-row;
}

#loginBox .row .label {
	display: table-cell;
	width: 150px;
	text-align: right;
	height: 24px;
	vertical-align: middle;
	padding-right: 5px;
	border-right: #818181 1px solid;
	font-weight: bold;	
}

#loginBox .row .field {
	display: table-cell;
	width: 295px;
	padding-left: 5px;
	text-align: left;
	height: 24px;
	vertical-align: middle;
}

/* Reszletek resz, kozepen csikkal */
.detailBox {
	width: 600px;
	margin: 0 auto;
	display: table;
}

.detailBox .row {
	display: table-row;
}

.detailBox .row .label {
	display: table-cell;
	width: 293px;
	text-align: right;
	height: 24px;
	vertical-align: middle;
	padding-right: 5px;
	border-right: #818181 1px solid;
	font-weight: bold;
}

.detailBox .row .field {
	display: table-cell;
	width: 295px;
	padding-left: 5px;
	text-align: left;
	height: 24px;
	vertical-align: middle;
}

/* torrent tulajdonsagok -> peerek tablazat */
.peers_tabla .peernev {
	width: 129px !important;
	max-width: 129px !important;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	table-layout: fixed;
	text-align: center;
	
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.peers_tabla .ip {
	width: 130px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.peers_tabla .letoltve {
	width: 190px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.peers_tabla .speed {
	width: 112px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.peers_tabla .kliens {
	width: 114px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.peers_tabla .frissitve {
	width: 112px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.errorstring {
	text-shadow: 1px 1px #000000;
	color: #ff0000;
	font-weight: bold;
}

.button {
	border: #818181 1px solid;
	display: table;
	cursor: pointer;
}

.button .button-left {
	width: 8px;
	height: 22px;
	display: table-cell;
    background-image: url(#{resource[ '/images/button-bg-left.png' ]});
    background-position: left top;
	background-repeat: no-repeat;
}

.button .content {
	height: 22px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
	text-shadow: 1px 1px #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	display: table-cell;
    background-image: url(#{resource[ '/images/button-bg.png' ]});
    background-position: top;
	background-repeat: repeat-x;
}

.button .button-right {
	width: 8px;
	height: 22px;
	display: table-cell;
    background-image: url(#{resource[ '/images/button-bg-right.png' ]});
    background-position: left top;
	background-repeat: no-repeat;
}

/* repuk */
.rep1 {color: #F60000;font-weight: bold;}
.rep2 {color: #DE6E00;font-weight: bold;}
.rep3 {color: #DEA200;font-weight: bold;}
.rep4 {color: #DEBC00;font-weight: bold;}
.rep5 {color: #DEC100;font-weight: bold;}
.rep6 {color: #CCDE00;font-weight: bold;}
.rep7 {color: #47D700;font-weight: bold;}