<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" lang="en" xml:lang="en">
<ui:composition template="../templates/main-layout.xhtml">
    <ui:define name="body">
        <div class="large_window_top">
            <div class="legend">Belépés</div>
        </div>
        <div class="large_window_bevel">
            <div class="content">
                <br/><br/>

                <form method="post" action="j_security_check" id="loginForm">
                    <div id="loginBox">
                        <div class="row">
                            <div class="label"></div>
                            <div class="field">
                                <img src="#{resource['/images/vizjel.png']}" alt="TheTree™" title="TheTree™"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label">Felhasználónév:</div>
                            <div class="field">
                                <input type="text" name="j_username"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label">Jelszó:</div>
                            <div class="field">
                                <input type="password" name="j_password"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label">Maradjon bejelentkezve:</div>
                            <div class="field"><input type="checkbox" name="j_remember_me"/></div>
                        </div>
                        <div class="row">
                            <div class="label"></div>
                            <div class="field"><span class="errorstring">${hibauzenet}</span></div>
                        </div>
                        <div class="row">
                            <div class="label" style="text-align:right">
                                <input type="submit" style="visibility: hidden" id="submitBtn"/>
                            </div>
                            <div class="field">
                                <div class="button" onclick="document.getElementById('submitBtn').click();">
                                    <div class="button-left"></div>
                                    <div class="content">belépés</div>
                                    <div class="button-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br/><br/>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>