<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:tt="http://gw-systems.com/taglib/thetree"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<ui:composition template="/templates/main-layout.xhtml">
    <ui:define name="body">
        <br/><br/>

        <div class="large_window_top">
            <div class="legend">Torrent feltöltése</div>
        </div>
        <div class="large_window_bevel">
            <div class="content">
                <br/><br/>
                <h:form id="uploadForm" prependId="false" enctype="multipart/form-data">
                    <div id="loginBox">
                        <div class="row">
                            <div class="label"></div>
                            <div class="field">
                                <b>Torrent feltöltése</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label">Kategória:</div>
                            <div class="field">
                                <p:selectOneMenu value="#{newTorrent.category}" var="cat"
                                                 converter="#{categoryConverter}"
                                                 effect="fade" style="width: 300px">
                                    <f:selectItems value="#{categoryList}" var="cat" itemValue="#{cat}"
                                                   itemLabel="#{cat.category}"/>
                                    <p:column width="30" style="vertical-align: top;">
                                        <p:graphicImage height="16" library="images"
                                                        name="/torrentpics/#{cat.image}.gif"/>
                                        <strong>#{cat.category}</strong>
                                    </p:column>
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label">Torrent neve:</div>
                            <div class="field">
                                <h:inputText value="#{newTorrent.name}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label" style="vertical-align: top;">Torrent leirása:</div>
                            <div class="field">
                                <h:inputTextarea value="#{newTorrent.description}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label">Torrent file:</div>
                            <div class="field">
                                <t:inputFileUpload value="#{torrentFile}"/>
                            </div>
                        </div>
                        <h:panelGroup rendered="false">
                            <div class="row">
                                <div class="label">
                                    <h:messages globalOnly="false"/>
                                </div>
                                <div class="field">${tt:formatBytes(newTorrent.size)}"</div>
                            </div>
                        </h:panelGroup>

                        <div class="row">
                            <div class="label"></div>
                            <div class="field">
                                <h:commandLink styleClass="button" action="#{torrentUploadController.upload}">
                                    <div class="button-left"></div>
                                    <div class="content">Torrent feltöltése</div>
                                    <div class="button-right"></div>
                                </h:commandLink>
                            </div>
                        </div>
                    </div>
                </h:form>
                <br/><br/>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>