<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:tt="http://gw-systems.com/taglib/thetree"
      xmlns:f="http://java.sun.com/jsf/core">
<ui:composition template="/templates/main-layout.xhtml">
    <ui:define name="body">

    </ui:define>
</ui:composition>
</html>
